/*@font-face {
    font-family: 'OpenSans';
    src: url(../font/OpenSansCondensed-Light.ttf); 
}
li {
    font-family: 'OpenSans';
}*/
body {
    font-family: 'Open Sans', sans-serif; /*для подключения шрифта из сети, в связке с кодом в index*/
    font-size: 16px;
    color: #7581a1;
    line-height: 26px; /*межстрочный интервал*/
}
a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    color: #192b59;
    font-weight: 600;
}
.nav {
    color: #6e7ea9;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-free {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700; 
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    display: block; /*для переноса на другую строку*/
}
.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
}
.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}
.grid-item:nth-child(2) {
    color: red;
}